.tab {
  cursor: pointer;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;

  .tab-text {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.5s ease;
  }

  &:hover:before {
    background-color: #ff881b;
  }
}
